* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  color: #e0e0e0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #1e1e1e;
  color: #dcdcdc;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100vw;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  flex-shrink: 0;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav ul li {
  display: inline-block;
  margin-right: 20px;
  /* 可选：用于控制每个列表项之间的间距 */
}

.content {
  display: flex;
  flex: 1;
  padding: 20px;
  overflow: hidden;
  /* 避免内容溢出 */
}

.main {
  flex-basis: 75%;
  background-color: #1e1e1e;
  color: #f0f0f0;
  padding: 20px;
  overflow-y: auto;
  /* 允许主内容区域滚动 */
  max-height: 100%;
  transition: flex-basis 0.3s ease;
  /* 添加平滑过渡效果 */
}

.sidebar {
  flex-basis: 25%;
  background-color: #292929;
  color: #d3d3d3;
  padding: 20px;
  overflow-y: auto;
  /* 允许侧边栏单独滚动 */
  max-height: 100%;
  transition: flex-basis 0.3s ease;
  /* 添加平滑过渡效果 */
}

.main,
.sidebar {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

/* 动态样式 - 当侧边栏隐藏时，主内容区域占满整个宽度 */
.main.full-width {
  flex-basis: 100%;
}

/* 链接样式 */
a {
  color: #64b5f6;
}

/* 按钮样式 */
button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

/* 响应式设计：在小屏幕时，侧边栏和主内容堆叠显示 */
@media (max-width: 768px) {

  .main,
  .sidebar {
    flex-basis: 100%;
    padding: 10px;
  }
}

/* 图片和代码段样式 */
img,
code {
  max-width: 100%;
  height: auto;
}